vimconfig/vim/bundle
vimconfig/vim/vundle
vimconfig/vim/.bundle
vimconfig/vim/doc/tags
*~
*.sw*
.netrwhist
Powerline_distinguished_distinguished_compatible.cache
.DS_Store

# age 私钥，禁止提交
key.txt
*.age.key
